:root {
  --border-radius: 5px;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

:root {
  --bg: var(--white);
  --fg: var(--black);
  --icon-bg: orangered;
  --subtitle-fg: grey;

  --input-bg: var(--gray-100);
  --input-border-bg: var(--gray-900);
  --input-border-hover-bg: var(--teal-500);

  --play-button-bg: var(--teal-300);
  --play-button-fg: var(--white);
  --play-button-disabled-bg: var(--gray-100);
  --play-button-disabled-fg: var(--gray-500);

  --notification-fg: var(--fg);
  --notification-bg: var(--gray-100);

  --game-status-victory-bg: var(--teal-500);
  --game-status-defeat-bg: var(--red-500);
  --game-status-fg: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #343434;
    --fg: #fafafa;

    --icon-bg: var(--teal-500);
    --subtitle-fg: grey;

    --input-fg: var(--white);
    --input-bg: var(--gray-700);
    --input-border-bg: var(--gray-500);
    --input-border-hover-bg: var(--teal-500);

    --play-button-bg: var(--teal-300);
    --play-button-fg: var(--white);
    --play-button-disabled-bg: var(--gray-100);
    --play-button-disabled-fg: var(--gray-500);

    --notification-fg: var(--fg);
    --notification-bg: var(--gray-700);

    --game-status-victory-bg: var(--teal-500);
    --game-status-defeat-bg: var(--red-500);
    --game-status-fg: var(--white);
  }
}

html {
  height: 100%;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  height: 100%;
  font-size: 16px;
}

button {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.title {
  margin-bottom: 20px;
  animation: fadein 1s normal forwards;
}

.subtitle {
  font-weight: 400;
  opacity: 0;
  animation: fadein 2s normal forwards;
  color: var(--subtitle-fg);
}

.icon {
  z-index: -1;
  height: 96px;
  width: 96px;
  margin-bottom: 20px;
  animation: rotate 60s linear infinite;
  animation-delay: 2.5s;
  fill: var(--icon-bg);
}

.wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  animation: fadein 2.5s normal forwards;
}

.game input {
  border: 2px solid var(--input-border-bg);
  border-radius: var(--border-radius);
  background-color: var(--input-bg);
  color: var(--input-fg);
  height: 30px;
  text-align: center;
  margin: 0 10px;
}

.game input:hover {
  border-color: var(--input-border-hover-bg);
}

.game button {
  border: 2px solid transparent;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--game-button-bg);
  color: var(--game-button-fg);
}
.game button:hover {
  background-color: var(--game-button-hover-bg);
}

.play-button {
  padding: 0 16px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  background-color: var(--play-button-bg);
  color: var(--play-button-fg);
}

.play-button:disabled {
  cursor: not-allowed;
  background-color: var(--play-button-disabled-bg);
  color: var(--play-button-disabled-fg);
}

.replay-button {
  visibility: hidden;
  height: 40px;
  padding: 0 16px;
  color: var(--fg);
}

.attempt {
  position: absolute;
  bottom: 0;
  left: 50;
  margin-bottom: 20px;
}

.notifications {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.notifications li {
  background-color: var(--notification-bg);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: var(--shadow);
}

.game-status {
  visibility: hidden;
  position: fixed;
  top: 0;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--game-status-fg);
  box-shadow: var(--shadow);
}

.victory {
  background-color: var(--game-status-victory-bg);
}

.defeat {
  background-color: var(--game-status-defeat-bg);
}
